.navbar.navbar-inverse.navbar-transparent {
    background: transparent;
    box-shadow: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    a {
        color: white;
    }
}

@media (min-width: 768px) {
    .navbar.navbar-inverse.navbar-transparent {
        position: absolute;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }
}

.navbar-inverse .navbar-collapse {
    background: rgba(69, 69, 69, 0.96);
}
@media (min-width: 768px) {
    .navbar-inverse .navbar-collapse {
        background: none;
    }
}


.navbar-transparent .navbar-nav>li>a {
    border-left: none;
}

#index.index-alt #headline-cover {
    background: #565656;
}

#index.index-alt #headline-cover {
    padding-top: 120px;
}

#index.index-alt #headline-cover .headline-text {
        font-size: 25px;
    &.-future {
        font-size: 25px;
    }
}
@media (min-width: 768px) {
    #index.index-alt #headline-cover .headline-text {
            font-size: 32px;
        &.-future {
            font-size: 40px;

        }
    }
}

#index.index-alt #headline-cover .buttons-container .btn-main-cta {
    padding: 16px 28px;
}
@media (min-width: 768px) {
    padding: 18px 48px;
}

.btn-lg {
    padding: 10px 8px;
}

#about .stats .stat-item strong {
    font-size: 3em;
}
@media (min-width: 768px) {
    #about .stats .stat-item strong {
        font-size: 4em;
    }
}

#custom-search-input .input-lg {
    height: 45px;
}

div.error-message {
    color: red;
}

div.success-message {
    display: block;
    color: #06af28;
    font-size: 20px
}


#highlight-cta img {
    max-width: 150px;
    max-height: 150px;
}

#highlight-cta .thumbnail {
    border: none;
    background-color: transparent;
}

section#final-cta {
    padding: 30px 0 50px;
    background:#fefffc;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom:1px solid rgba(0,0,0,.1);
    margin-top:50px;
}

.white-paper-form {
    .success {
        display: block;
        padding: 10px 0;
        font-size: 30px;
        color: rgb(90, 218, 255)
    }

    .error {
        padding: 10px 0;
        font-size: 15px;
        color: red;
    }
}

.testimonial .quote-author {
    width: 27%;
}

.testimonial .quote-text {
    width: 71%;
}

.contact-form {
    margin: 50px auto;
}

.form-result {
    margin: 20px 0 0 0 ;
}
