#index.index-new #headline-cover {
  background-image: url("../img/index-head.jpg") !important;
  background-position: center center; }

.navbar.navbar-inverse.navbar-transparent {
  background: transparent;
  box-shadow: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0; }
  .navbar.navbar-inverse.navbar-transparent a {
    color: white; }
.navbar .nav ul.dropdown-menu {
  background: rgba(55, 71, 79, 0.56); }
  .navbar .nav ul.dropdown-menu li a {
    font-size: 14px;
    color: #fff !important; }
.navbar .navbar-header .navbar-brand {
  font-size: 16px; }

#barba-wrapper h1 {
  font-size: 42px; }
#barba-wrapper h2 {
  font-size: 36px; }

@media (min-width: 768px) {
  .navbar.navbar-inverse.navbar-transparent {
    position: absolute;
    left: 0;
    right: 0; }
    .navbar.navbar-inverse.navbar-transparent.navbar-color-blue {
      background-color: rgba(55, 71, 79, 0.56); } }
.navbar-inverse .navbar-collapse {
  background: rgba(69, 69, 69, 0.96); }

@media (min-width: 768px) {
  .navbar-inverse .navbar-collapse {
    background: none; } }
.navbar-transparent .navbar-nav > li > a {
  border-left: none; }

#index.index-alt #headline-cover {
  background: #565656;
  padding-top: 120px; }
  #index.index-alt #headline-cover .headline-text {
    font-size: 25px; }
    #index.index-alt #headline-cover .headline-text.-future {
      font-size: 25px; }
  #index.index-alt #headline-cover .buttons-container .btn-main-cta {
    padding: 16px 28px; }

@media (min-width: 768px) {
  #index.index-alt #headline-cover .headline-text {
    font-size: 32px; }
    #index.index-alt #headline-cover .headline-text.-future {
      font-size: 40px; } }
.btn-lg {
  padding: 10px 8px; }

#about .stats .stat-item strong {
  font-size: 3em; }

@media (min-width: 768px) {
  #about .stats .stat-item strong {
    font-size: 4em; } }
#custom-search-input .input-lg {
  height: 45px; }

div.error-message {
  color: red; }
div.success-message {
  display: block;
  color: #06af28;
  font-size: 20px; }

#highlight-cta img {
  max-width: 150px;
  max-height: 150px; }
#highlight-cta .thumbnail {
  border: none;
  background-color: transparent; }

section#final-cta {
  padding: 30px 0 50px;
  background: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 50px; }

.white-paper-form .success {
  display: block;
  padding: 10px 0;
  font-size: 30px;
  color: #5adaff; }
.white-paper-form .error {
  padding: 10px 0;
  font-size: 15px;
  color: red; }

.testimonial .quote-author {
  width: 27%; }
.testimonial .quote-text {
  width: 71%; }

.contact-form {
  margin: 50px auto; }

.form-result {
  margin: 20px 0 0 0; }

#section-report {
  padding: 40px 0 73px;
  background: #ececec; }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }

#headline-cover .btn.btn-main {
  padding: 15px 20px; }

#front-what .thumbnail {
  min-height: 260px; }

#front-data {
  background-color: #fff; }
  #front-data .feature-single img {
    margin-top: 20px; }
  #front-data .points {
    margin-top: 30px; }

.final-cta-front {
  margin-top: 0 !important;
  padding: 20px 0 30px !important; }

.front-customer-block {
  color: #fff;
  text-align: center;
  overflow: hidden;
  min-height: 300px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center; }

#customer-web {
  background-image: url("../img/customer-web-2.png"); }

#customer-mobile {
  background-image: url("../img/customer-mobile.png"); }

#customer-vr {
  background-image: url("../img/customer-vr3.png"); }

#features dl dd {
  margin-bottom: 10px; }

#product-development {
  height: auto;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding-bottom: 80px; }
  #product-development #headline-cover {
    min-height: 550px;
    color: #fff;
    background-image: url("../img/product-development-head.jpg") !important;
    background-size: cover;
    background-position: center center; }
    #product-development #headline-cover .subheading-text {
      margin-top: 25px;
      font-weight: 300;
      font-size: 22px;
      line-height: 1.6;
      color: #d8d8d8; }

#services {
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding-bottom: 80px; }
  #services #headline-cover {
    padding-top: 100px;
    min-height: 300px;
    color: #fff;
    background-image: url("../img/services-head1.jpg") !important;
    background-size: cover;
    background-position: center center; }

.clear {
  zoom: 1; }
  .clear:before, .clear:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clear:after {
    clear: both; }

.ov-hidden {
  overflow: hidden; }

.ta-center {
  text-align: center; }

.ta-right {
  text-align: right; }

.ta-left {
  text-align: left; }

.fs10 {
  font-size: 10px; }

.fs11 {
  font-size: 11px; }

.fs12 {
  font-size: 12px; }

.fs13 {
  font-size: 13px; }

.fs14 {
  font-size: 14px; }

.fs15 {
  font-size: 15px; }

.fl-l {
  float: left; }

.fl-r {
  float: right; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

.mb40 {
  margin-bottom: 30px; }

.mb50 {
  margin-bottom: 50px; }

.mt10 {
  margin-top: 10px; }

.mt20 {
  margin-top: 20px; }

.mb40 {
  margin-bottom: 40px; }

.mb45 {
  margin-bottom: 45px; }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }

.additional-buttons {
  margin-top: 26px; }
  .additional-buttons .media {
    margin-top: 20px;
    color: #e0e0e0; }
    .additional-buttons .media i {
      font-size: 40px; }
    .additional-buttons .media a {
      color: #e0e0e0; }
      .additional-buttons .media a h4 {
        border-bottom: 1px solid #9e9e9e;
        line-height: 40px;
        font-size: 19px;
        display: inline; }
        .additional-buttons .media a h4:hover {
          border-bottom: 1px #eee solid; }
    .additional-buttons .media .media-body {
      text-align: left; }

.feature-square-single.two {
  border-left: 1px solid #ccc;
  padding-left: 15px; }

.features-share {
  padding: 30px 0 45px; }

#index.index-new #headline-cover {
  background-image: url(../img/index-main.jpg);
  background-position: center center;
  min-height: 760px; }

section.about-new {
  background: white;
  height: 400px; }

section.how-it-works {
  padding: 30px 0 45px; }

.api-menu {
  margin: 1.3em 0 0 1em; }
  .api-menu ul {
    margin: 0;
    padding: 0; }
    .api-menu ul li {
      list-style: none; }
      .api-menu ul li a {
        text-transform: uppercase;
        padding: 10px;
        display: block;
        font-size: 16px;
        color: #37464f; }
      .api-menu ul li:hover a, .api-menu ul li.active a {
        background: #37464f;
        color: white; }

/*# sourceMappingURL=custom.css.map */
