.feature-square-single.two {
  border-left: 1px solid #ccc;
  padding-left: 15px
}

.features-share {
  padding: 30px 0 45px;;
}

#index.index-new #headline-cover {
  background-image: url(../img/index-main.jpg);
  background-position: center center;
  min-height: 760px; //todo fix this with script
}

section.about-new {
  background: white;
  height: 400px;
}

section.how-it-works {
  padding: 30px 0 45px;
}