#logo{
	margin: 50px 0 0 0;
	max-width:280px;
}
#controls{
	margin-top: 30px;
}

#controls{
	background-color: inherit;
	border: 1px solid #fff;
}
.jumbotron{
	padding: 2rem 2rem;
}	
.jumbotron > p.lead {
	margin-bottom: 30px;
}

.jumbotron h5 { font-size: 14pt; padding-top: 12%; } 